python/data/cifar-10-python.tar.gz
python/data/cifar-10-batches-py/batches.meta
python/data/cifar-10-batches-py/data_batch_1
python/data/cifar-10-batches-py/data_batch_2
python/data/cifar-10-batches-py/data_batch_3
python/data/cifar-10-batches-py/data_batch_4
python/data/cifar-10-batches-py/data_batch_5
python/data/cifar-10-batches-py/readme.html
python/data/cifar-10-batches-py/test_batch
python/src/neural_networks/__pycache__/__init__.cpython-311.pyc
python/src/neural_networks.egg-info/dependency_links.txt
python/src/neural_networks.egg-info/PKG-INFO
python/src/neural_networks.egg-info/requires.txt
python/src/neural_networks.egg-info/SOURCES.txt
python/src/neural_networks.egg-info/top_level.txt
python/data/MNIST/raw/t10k-images-idx3-ubyte
python/data/MNIST/raw/t10k-images-idx3-ubyte.gz
python/data/MNIST/raw/t10k-labels-idx1-ubyte
python/data/MNIST/raw/t10k-labels-idx1-ubyte.gz
python/data/MNIST/raw/train-images-idx3-ubyte
python/data/MNIST/raw/train-images-idx3-ubyte.gz
python/data/MNIST/raw/train-labels-idx1-ubyte
python/data/MNIST/raw/train-labels-idx1-ubyte.gz
python/models/mnist/senet_mnist.pth
python/models/mnist/senet_mnist.safetensors
python/src/neural_networks/models/senet/__pycache__/senet.cpython-311.pyc
python/src/neural_networks/models/senet/__pycache__/senet.cpython-311.pyc

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# 但是保留模型文件
!models/
!models/**/
!models/**/*.pth
!models/**/*.safetensors
python/models/cifar/senet_cifar.pth
python/models/cifar/senet_cifar.safetensors
python/examples/senet/temp_mnist/700_pred1_true1.png
python/examples/senet/temp_cifar/7923_pred9_true9.png
python/examples/senet/debug_images/final_processed.png
